.stylist_list {
    width: 80%;
    /* background-color: #f4f4f4; */
    padding: 10px;
    margin: 20px 0px;
    /* height: 300px;
    overflow: auto;
    display: flex; */
}

.stylistList_content {
    /* background-color: darkgrey; */
    width: 100%;
    /* padding: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add_stylist, .remove_stylist {
    width: 50%;
    height: 200px;
    overflow: auto;
    padding: 10px;
}


.addStylist_content, .removeStylist_content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 10px 0px;
}


.addRemove_button {
    font-size: 20px;
    /* background: none; */
    background-color: white;
    padding: 0px 5px;
    border: none;
    color: darkblue;
    cursor: pointer;
}





















@media (max-width: 600px) {
    .select_location {
        width: 90%;
        /* background-color: #ccc; */
        margin: auto;
    }
    .wrapper {
        width: 100%;
    }
}