.navigationBar_container {
    width: 70%;
    margin: auto;
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 2%;
}

.wrapper {
    width: 90%;
}

.navigation_bar {
    display: flex;
    width: 70%;
    margin: 0 auto 10px auto;

   /* background-color: cadetblue; */
}

.navigation_links {
    width: 200px;
    position: relative;
    display: flex;
    align-items: center;
}

.button_container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigationLink_button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: coral;
    color: white;
    cursor: pointer;
}

.blankPara_container {
    background-color: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    left: 50%;
    transform: translate(-20%); */
    width: 50%;
    border-bottom: 1px solid black;
}

.navigationText_container {
    width: 70%;
    display: flex;
    margin: auto;

}

.navigation_text {
    width: 200px;
    
}

.text {
    width: 50%;
}

.text_content {
    font-size: 12px;
    text-align: center;
}
.text_blankDiv {
    width: 50%;
}





@media(max-width: 600px) {

    .navigationBar_container {
        width: 100%;
        padding: 4% 1% 10% 1%;
    }

    .navigation_bar, .navigationText_container  {
        width: 100%;
    }

    .navigation_links, .navigation_text {
        width: 100px;
    }

    .navigationLink_button {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: none;
        background-color: coral;
        color: white;
        cursor: pointer;
    }

    .text_content {
        font-size: 9px;
        text-align: center;
    }
}

